.col {
    flex-grow: 0;
}

.v-card__actions {
    padding: inherit;
}

.theme--light.v-stepper {
    background: var(--login-and-recovery-password-background-color);
}

.v-stepper__header {
    box-shadow: none;
}

.v-stepper {
    box-shadow: none;
}

.input-field {
    width: 248px;
}
