<v-card width="560px" class="mx-auto recovery-card" elevation="0">
  <v-row justify="center">
    <v-card-title
      primary-title
      class="primary--text text--lighten-1"
      color="primary lighten-1"
    >
      <h4>{{$t('recoverypassword.title')}}</h4>
    </v-card-title>
  </v-row>
  <v-card-text>
    <v-stepper non-linear alt-labels elevation="0" v-model="step">
      <v-stepper-header>
        <v-stepper-step :complete="step > 1" step="1">
          <div class="text-center text-normal">
            {{$t('recoverypassword.checkMail')}}
          </div>
        </v-stepper-step>
        <v-divider></v-divider>
        <v-stepper-step :complete="step > 2" step="2">
          <div class="text-center text-normal">
            {{$t('recoverypassword.title')}}
          </div>
        </v-stepper-step>
        <v-divider></v-divider>
        <v-stepper-step :complete="step >= 3" step="3">
          <div class="text-center text-normal">
            {{$t('recoverypassword.Conf')}}
          </div>
        </v-stepper-step>
      </v-stepper-header>
      <v-stepper-items>
        <v-stepper-content step="1">
          <v-card class="recovery-card">
            <div class="text-center text-normal">
              {{$t('recoverypassword.Entuemail')}}
            </div>
            <v-form ref="form" v-model="valid">
              <div class="d-flex justify-center">
                <mmt-text-input
                  class="input-field"
                  mmt-label="E-mail"
                  rounded
                  filled
                  single-line
                  dense
                  :placeholder="$t('recoverypassword.emailPlh')"
                  v-model="email"
                  :rules="[rules.isEmpty, rules.validEmail]"
                  :error-messages="serverError"
                  @input="onInput"
                  required
                />
              </div>
              <v-row cols="2" justify="center">
                <v-col justify="center">
                  <v-btn
                    class="mmt-btn btn-step-1"
                    rounded
                    color="primary"
                    :disabled="!valid"
                    @click="recoveryPassword"
                    >{{$t('recoverypassword.recover')}}
                  </v-btn>
                </v-col>
                <v-col justify="center">
                  <v-btn
                    rounded
                    outlined
                    color="accent lighten-1"
                    class="mmt-btn btn-step-1"
                    dense
                    @click="$router.push('/');"
                    >{{$t('recoverypassword.back')}}
                  </v-btn>
                </v-col>
              </v-row>
            </v-form>
            <div class="text-center text-normal">
              {{$t('recoverypassword.note')}}
            </div>
          </v-card>
        </v-stepper-content>
        <v-stepper-content step="2">
          <v-card class="recovery-card">
          <div class="text-center text-normal">
            {{$t('recoverypassword.excelentwrk')}}
          </div>
          <v-form ref="form" v-model="valid" >
            <div class="d-flex justify-center">
              <mmt-text-input
                :placeholder="$t('recoverypassword.createpass')"
                :mmt-label="$t('recoverypassword.password')"
                class="input-field"
                rounded
                filled
                dense
                :type="showPassword  ? 'text' : 'password'"
                :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                @click:append="showPassword = !showPassword"
                :rules="[rules.isEmpty, rules.minPassLen]"
                v-model="password"
                required
              />
            </div>
            <div class="d-flex justify-center">
              <mmt-text-input
                :placeholder="$t('recoverypassword.repeatpass')"
                :mmt-label="$t('recoverypassword.confrimpass')"
                class="input-field"
                rounded
                filled
                dense
                :type="showPasswordConfirmation ? 'text' : 'password'"
                :append-icon="showPasswordConfirmation ? 'mdi-eye' : 'mdi-eye-off'"
                @click:append="showPasswordConfirmation = !showPasswordConfirmation"
                :rules="[rules.isEmpty, rules.minPassLen, rules.samePass]"
                v-model="passwordConfirmation"
                @input="onInput"
                required
              />
            </div>
            <v-row cols="2" justify="center">
              <v-col justify="center">
                <v-btn
                  class="mmt-btn btn-step-2"
                  rounded
                  color="primary"
                  :disabled="!valid"
                  @click="SendPassword"
                  >{{$t('recoverypassword.save')}}
                </v-btn>
              </v-col>
              <v-col justify="center">
                <v-btn
                  rounded
                  outlined
                  color="accent lighten-1"
                  class="mmt-btn btn-step-2"
                  dense
                  @click="$router.push('/');"
                  >{{$t('recoverypassword.back')}}
                </v-btn>
              </v-col>
            </v-row>
          </v-form>
        </v-card>
        </v-stepper-content>
        <v-stepper-content step="3">
          <v-card class="recovery-card">
            <div class="text-center">
              {{$t('recoverypassword.congrats')}}
            </div>
            <div class="justify-center d-flex">
              <img src="@/assets/gracmail.png" width="100px" height="100px">
            </div>
          </v-card>
        </v-stepper-content>
      </v-stepper-items>
    </v-stepper>
  </v-card-text>
</v-card>
