.col {
    flex-grow: 0;
}

.v-card__actions {
    padding: inherit;
}

.theme--light.v-stepper {
    background: var(--login-and-recovery-password-background-color);
}

.v-stepper__header {
    box-shadow: none;
}

.v-stepper {
    box-shadow: none;
}

.btn-step-1, .btn-step-2 {
    height: 39px;
}

.btn-step-1 {
    width: 159px;
}

.btn-step-2 {
    width: 149px;
}

.input-field {
    width: 248px;
}
