.input-email, .input-firstPass, .input-secondPass {
    display: flex;
    justify-content: center;
}

.col {
    flex-grow: 0;
}

.v-card__actions {
    padding: inherit;
}

.theme--light.v-stepper {
    background: #F6F8FB;
}

.v-stepper__header {
    box-shadow: none;
}

.v-stepper {
    box-shadow: none;
}
