<v-card width="560px" class="mx-auto recovery-card" elevation="0">
  <v-row justify="center">
    <v-card-title
      primary-title
      class="primary--text text--lighten-1"
      color="primary lighten-1"
    >
      <h4>{{$t('recoveryPassword.title')}}</h4>
    </v-card-title>
  </v-row>
  <v-card-text>
    <v-stepper non-linear alt-labels elevation="0" v-model="step">
      <v-stepper-header>
        <v-stepper-step :complete="step > 1" step="1">
          <div class="text-center text-normal">
            {{$t('recoveryPassword.checkMail')}}
          </div>
        </v-stepper-step>
        <v-divider></v-divider>
        <v-stepper-step :complete="step > 2" step="2">
          <div class="text-center text-normal">
            {{$t('recoveryPassword.title')}}
          </div>
        </v-stepper-step>
        <v-divider></v-divider>
        <v-stepper-step :complete="step >= 3" step="3">
          <div class="text-center text-normal">
            {{$t('recoveryPassword.confrimation')}}
          </div>
        </v-stepper-step>
      </v-stepper-header>
      <v-stepper-items>
        <v-stepper-content step="1">
        <mmt-recovery-step-1/>
        </v-stepper-content>
        <v-stepper-content step="2">
          <mmt-recovery-step-2 @stepDone="step = 3" @stepNotDone="step = 2"/>
        </v-stepper-content>
        <v-stepper-content step="3">
          <mmt-recovery-step-3/>
        </v-stepper-content>
      </v-stepper-items>
    </v-stepper>
  </v-card-text>
</v-card>
