.header-wrapper {
  width: 100%;
  position: fixed;
  z-index: 999;
}

  .header-wrapper header {
    font-size: 18px;
  }

    .header-wrapper header .v-toolbar__title a {
      font-size: 18px;
      color: white;
      text-transform: uppercase;
      text-decoration: none;
    }

    .header-wrapper header .v-btn {
      text-transform: capitalize;
    }
