<v-card color="primary lighten-3">
  <v-card-title>
    <h5 class="form-header">{{$t('userSettings.title')}}</h5>
  </v-card-title>
  <v-card-text>
    <v-form class="settings-form" ref="form" v-model="formValidity">
      <mmt-text-input class="input-field" v-model="lastName" :mmt-label="$t('userSettings.lastName.label')"
        :hint="$t('userSettings.lastName.hint')" persistent-hint rounded filled single-line dense
        :disabled="!isLoaded" />
      <mmt-text-input class="input-field" v-model="firstName" :mmt-label="$t('userSettings.firstName.label')"
        :hint="$t('userSettings.firstName.hint')" persistent-hint rounded filled single-line dense
        :disabled="!isLoaded" />
      <mmt-text-input class="input-field" v-model="email" :mmt-label="$t('userSettings.email.label')"
        :hint="$t('userSettings.email.hint')" persistent-hint rounded filled single-line dense :rules="emailRules"
        :error-messages="emailAlreadyTaken ? $t('userSettings.email.errors.alreadyTaken') : ''"
        @input="emailAlreadyTaken = false" :disabled="!isLoaded" />
      <mmt-select class="first-select" v-model="gender" :items="genders" append-icon="mdi-chevron-down"
        :disabled="!isLoaded" />
      <mmt-select v-model="language" :items="languages" append-icon="mdi-chevron-down" :disabled="!isLoaded" />
      <mmt-select v-model="country" :items="countries" append-icon="mdi-chevron-down" :disabled="!isLoaded" />
      <mmt-submit-button @click.prevent="applySettings" :disabled="!formValidity || !isLoaded">
        {{$t('userSettings.saveButton')}}</mmt-submit-button>
    </v-form>
  </v-card-text>
</v-card>