<div id="leisure" class="leisure mx-auto">
  <div class="body-wrap">
    <div class="sidebar">
      <h5>{{ $t('leisure.leisureType') }}</h5>
      <div class="categories">
        <v-checkbox
          class="leisure-type"
          v-for="(type, index) in $t('leisure.leisureTypeList')" :key="index"
          :label=type
          hide-details
        ></v-checkbox>
      </div>
      <h5>{{ $t('leisure.popularSearches') }}</h5>
    </div>
    <div class="main-wrap">
      <h4>{{ $t('leisure.pickUpLeisure') }}</h4>
      <div class="main">
        <div class="input-wrap">
          <mmt-text-input
            id="leisure-autocomplete"
            class="search-city"
            :placeholder="$t('leisure.mapTextInput')"
            append-icon="mdi-magnify"
            rounded
            filled
            dense
          ></mmt-text-input>
          <v-switch
            v-model="showMap"
            inset
            :label="$t('leisure.mapSwitch')"
          ></v-switch>
        </div>
        <div class="leisure-map" ref="leisure-map" v-if="showMap"></div>
      </div>
      <div class="places">
        <div 
          class="place"
          v-for="(place, index) in places"
          :key="index"
        >
          <img class="photo" :src="place.photos"></img>
          <div class="place-info">
            <div class="title-wrap">
              <span class="title"
                    :title="place.name"
              >{{ place.name | trimString }}</span>
              <div class="rating-wrap">
                <v-icon
                  v-if="place.rating"
                  class="star"
                >mdi-star</v-icon>
                <span class="rating">{{ place.rating }}</span>
              </div>
            </div>
            <div class="price-wrap">
              <div class="price non-opacity">{{ place.price_level | nonOpacityPrice }}</div>
              <div class="price opacity">{{ place.price_level | opacityPrice }}</div>
              <p v-if="place.price_level">•</p>
              <span class="state">{{ place.opening_hours }}</span>
            </div>
            <span class="desc"></span>
          </div>
        </div>
      </div>
      <div class="pages">
        <v-pagination
          v-model="page"
          :length="paginationLength"
          :total-visible="totalVisible"
          @next="nextPage"
        ></v-pagination>
      </div>
    </div>
  </div>
</div>
