<v-card class="user-settings-card" flat tile min-height="100%" color="primary lighten-3" :disabled="!isLoaded" >
  <v-card-title>
    <h5 class="form-header">{{$t('userSettings.generalSettings')}}</h5>
  </v-card-title>
  <v-card-text>
    <v-form class="settings-form" v-model="formValidity">
      <mmt-text-input class="input-field" filled dense v-model="lastName" :mmt-label="$t('userSettings.lastName')"
        :hint="$t('userSettings.enterLastName')" persistent-hint rounded filled single-line dense />
      <mmt-text-input class="input-field" v-model="firstName" :mmt-label="$t('userSettings.firstName')"
        :hint="$t('userSettings.enterFirstName')" persistent-hint rounded filled single-line dense />
      <mmt-text-input class="input-field" v-model="email" :mmt-label="$t('userSettings.email')"
        :hint="$t('userSettings.emailExample')" persistent-hint rounded filled single-line dense :rules="emailRules"
        :error-messages="emailIsAlreadyTaken ? $t('userSettings.emailIsAlreadyTaken') : ''"
        @input="emailIsAlreadyTaken = false" />
      <mmt-select class="first-select" v-model="gender" :items="genders" append-icon="mdi-chevron-down" />
      <mmt-select v-model="language" :items="languages" append-icon="mdi-chevron-down" />
      <mmt-select v-model="country" :items="countries" append-icon="mdi-chevron-down" />
      <mmt-submit-button @click.prevent="applySettings" :disabled="!formValidity">
        {{$t('userSettings.save')}}</mmt-submit-button>
    </v-form>
  </v-card-text>
</v-card>