.map {
  min-width: 500px;
  height: 100%;
  min-height: 650px;
}

.accommodation-sorting-select {
  width: 250px;
}

.filter-countries {
  width: 350px;
}

.filter-year {
  width: 150px;
}

.filter-price {
  width: 600px;
}
