<div>
  <div class="d-flex flex-wrap align-stretch justify-space-between mb-10" v-if="$route.name === 'MyHistoryFututeRoute'">
    <div>
      <h4 class="accent--text text--lighten-2 header">{{ $t('tripHistory.planNewTrip') }}</h4>
    </div>
    <v-btn class="mmt-btn mmt-continue-button" height="39" rounded depressed large>
      {{ $t('tripHistory.addNewWaypoint') }}</v-btn>
  </div>
  <mmt-waypoint-card v-for='(wp, index) of waypoints' :key='wp.id' :firstCard="index === 0"
    :lastCard="index === waypoints.length - 1" :waypoint="wp" />
</div>