<div>
  <div class="d-flex flex-wrap align-stretch justify-space-between mb-10" v-if="$route.name === 'MyHistoryFututeRoute'">
    <div>
      <h4 class="accent--text text--lighten-2 header">{{ $t('tripHistory.planNewTrip') }}</h4>
    </div>
    <v-btn class="mmt-btn mmt-continue-button" height="39" rounded depressed large :to="{name: 'MyHistoryAddRoute'}">
      {{ $t('tripHistory.addNewWaypoint') }}</v-btn>
  </div>
  <template v-for='(cardedWaypoint, index) of cardedWaypoints'>
    <mmt-waypoint-card :hideArrival="index === 0" :hideDeparture="index === cardedWaypoints.length - 1"
      :waypoint="cardedWaypoint.waypoint" />
    <mmt-waypoint-transfer-card v-if="index !== cardedWaypoints.length - 1" :transfer="cardedWaypoint.transfer" />
  </template>
</div>