.body-wrap, .places, .place-state {
  display: flex;
}

.body-wrap {
  margin-top: 20px;
  max-width: 1095px;
  height: 100%;
  flex-direction: row;
}

.places {
  flex-wrap: wrap;
  max-width: 530px;
}

.my-entertainments-map-wrap {
  width: 540px;
  height: 830px;
}

.entertainments-autocomplete {
  width: 100%;
  height: 50px;
  background-color: #fff;
  padding:0 20px;
}