<div id="entertainments" class="entertainments">
  <mmt-stepper></mmt-stepper>
  <nav>
    <span class="results">
      {{ $t('entertainments.placesCount') }}
    </span>
    <span class="results-count">
      ({{ places.length }})
    </span>
    <div class="buttons-container">
      
    </div>
  </nav>
  <div class="body-wrap">
    <div class="places">
      <mmt-leisure-card
        class="place" 
        v-for="(place, index) in places"
        :key="index"
        :place="place"
      ></mmt-leisure-card>
    </div>
    <div class="my-entertainments-map-wrap">
      <gmap-autocomplete
        class="entertainments-autocomplete"
        :placeholder="$t('entertainments.search')"
        @place_changed="setPlace">
      </gmap-autocomplete>
      <GmapMap
        id="my-entertainments-map"
        class="my-entertainments-map"
        ref="mapRef"
        :center="mapCenter"
        :zoom="15"
        style="width: 100%; height: 100%"
        :options="{
          mapTypeControl: false
        }"
      >
        <GmapMarker
          :key="index"
          v-for="(m, index) in markers"
          :position="m.position"
        />
      </GmapMap>
    </div>
  </div>
</div>