<div>
  <div class="d-flex flex-wrap align-stretch justify-space-between">
    <div>
      <h4 class="accent--text text--lighten-2">Предыдущие поездки</h4>
    </div>
    <div>
      <mmt-text-input class="search-text-field"
                      placeholder="Поиск"
                      mmt-label=" "
                      rounded
                      filled
                      dense
                      append-icon="mdi-find-replace"
                      @click:append="getTrips"
                      v-model="searchQuery" />
    </div>
  </div>
  <div class="d-flex flex-wrap justify-space-between my-5">
    <h5 v-for="y in years" :key="y">
      <a v-on:click="filterByYear(y)"
         :class="year === y ? `primary--text` : `accent--text text--lighten-2`">
        {{y}}
      </a>
    </h5>
  </div>
  <div class="d-flex flex-wrap justify-space-between"
       v-if="trips.length">
    <template v-for="(trip,n) in trips">
      <mmt-history-trip-card :key="`trip-${n}`"
                             :trip="trip"
                             class="mb-5" />
    </template>
  </div>
  <p v-else>
    Поездки не найдены
  </p>
</div>
