.trip {
}

  .trip .v-card__title {
    color: white;
    text-decoration: underline;
    text-transform: uppercase;
  }

  .trip .v-card__subtitle {
    color: white;
  }

  .trip .details {
    width: 280px;
  }

  .trip .details *{
    font-size: 12px;
  }

  .trip .continue-button {
    font-size: 12px;
    padding: 10px 48px;
  }

    .trip .continue-button.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
      background-color: var(--continue-button-background-color);
      color: var(--continue-button-active-color);
    }
