<v-navigation-drawer permanent overflow :mini-variant="$vuetify.breakpoint.smAndDown">
  <v-list dense flat tile align="center" justify="center" class="overflow-hidden py-3 items-list">
        
    <mmt-avatar :src="user.avatar" :size="`${$vuetify.breakpoint.smAndDown ? 48 : 130}`" class="avatar"/>    

    <v-list-item v-if="!$vuetify.breakpoint.smAndDown" two-line>
      <v-list-item-content>
        <v-list-item-title><strong>{{user.fullName}}</strong></v-list-item-title>
        <v-list-item-subtitle class="pt-3">{{user.email}}</v-list-item-subtitle>
      </v-list-item-content>
    </v-list-item>

    <v-list-item class="edit-btn" v-if="!$vuetify.breakpoint.smAndDown">
      <v-list-item-content>
        <v-btn rounded outlined primary
               :to="{path: '/my/settings'}">
          <span class="edit-btn-text">{{ $t('menu.editProfile') }}</span>
        </v-btn>
      </v-list-item-content>
    </v-list-item>

    <router-link to="/" class="d-flex justify-center my-7">
      <img src="@/assets/mmt-logo.svg" height="60">
    </router-link>

    <v-list-item v-for="item in items"
                 :key="item.title"
                 :to="item.link"
                 link
                 :class="`link ${!$vuetify.breakpoint.smAndDown && item.isChild ? 'child' : ''}`"
                 active-class="active"
                 @click="itemSelected(item)">

      <v-list-item-icon :class="!$vuetify.breakpoint.smAndDown && 'pl-10 pr-3'">
        <v-icon>{{ item.icon }}</v-icon>
      </v-list-item-icon>

      <v-list-item-content>
        <v-list-item-title v-text="$t(item.title)"></v-list-item-title>
      </v-list-item-content>

      <v-list-item-action v-if="item.switch !== undefined">
        <v-switch v-model="item.switch" inset></v-switch>
      </v-list-item-action>

    </v-list-item>

  </v-list>
</v-navigation-drawer>
