.link {
  text-align: start;
  border-left: 5px solid transparent;
}

  .link.child {
    padding-left: 40px;
  }

  .link:hover:not(:last-child),
  .link:active:not(:last-child),
  .active {
    border-left: 5px solid #195292;
  }

    .link:hover:not(:last-child) *,
    .link:active:not(:last-child) *,
    .active {
      color: #195292;
    }

  .link:last-child {
    padding-top: 50px;
    display: flex;
    justify-content: flex-start;
  }

    .link:last-child * {
      color: #B6B6B6;
    }

.edit-btn {
  margin-bottom: 50px;
}

  .edit-btn .v-btn {
    border: 2px solid #195292;
    text-transform: none;
  }

    .edit-btn .v-btn:hover {
      color: white;
      background-color: #195292;
    }

.v-application--is-ltr .v-list-item__action:first-child,
.v-application--is-ltr .v-list-item__icon:first-child {
  margin-right: 0;
}
