.link {
  text-align: start;
  border-left: 6px solid transparent;
  margin-top: 8px;
  margin-bottom: 8px;
}

  .link.child {
    padding-left: 40px;
  }

  .link:hover:not(:last-child),
  .link:active:not(:last-child),
  .active {
    border-left: 6px solid var(--user-menu-active-color);
  }

    .link:hover:not(:last-child) *,
    .link:active:not(:last-child) *,
    .active {
      color: var(--user-menu-active-color);
    }

  .link.link:last-child {
    margin-top: 50px;
  }

  .link:last-child * {
    color: var( --user-menu-disabled-color);
  }

.edit-btn {
  margin-bottom: 50px;
}

  .edit-btn .v-btn {
    border: 2px solid var(--user-menu-active-color);
    text-transform: none;
  }

    .edit-btn .v-btn:hover,
    .edit-btn .v-btn.v-btn--active {
      color: white;
      background-color: var(--user-menu-active-color);
    }

  .edit-btn .v-list-item__content {
    justify-content: center;
  }

    .edit-btn .v-list-item__content > * {
      flex: 0 1 auto;
    }

  .edit-btn .edit-btn-text {
    font-size: 0.8125rem;
    font-weight: normal;
    letter-spacing: 0;
  }

.v-application--is-ltr .v-list-item__action:first-child,
.v-application--is-ltr .v-list-item__icon:first-child {
  margin-right: 0;
}

.v-list-item--dense, .v-list--dense .v-list-item {
  max-height: 30px;
}

.v-navigation-drawer.v-navigation-drawer--open:not(.v-navigation-drawer--mini-variant) {
  min-width: 300px;
  height: 100vh;
}

aside >>> .v-navigation-drawer__content {
  height: 100vh;
  position: relative;
}

.items-list:last-child {
  position: absolute;
  bottom: 3px;
  left: 0;
}