<v-card
  class="sign-up-card mx-auto"
  elevation="0"
  color="#F6F8FB"
  >
  <v-card-title>
    <h4>{{ $t('signUp.welcome') }}</h4>
  </v-card-title>
  <v-card-text>
    <v-form
      class="sign-up-form"
      ref="signUpForm"
      v-model="valid"
    >
      <mmt-text-input
        class="sign-up-text-field"
        :placeholder="$t('signUp.enterEmail')"
        mmt-label="E-mail"
        rounded
        filled
        dense
        mmt-dense
        :rules="[rules.required, emailRules.validEmail, rules.existingEmail]"
        v-model="email"
      />
      <mmt-text-input
        class="sign-up-text-field"
        :placeholder="$t('signUp.pickPassword')"
        mmt-label="Password"
        rounded
        filled
        dense
        mmt-dense
        counter
        :type="showPass ? 'text' : 'password'"
        :append-icon="showPass ? 'mdi-eye' : 'mdi-eye-off'"
        @click:append="showPass = !showPass"
        :rules="[rules.required, rules.minPassLen]"
        v-model="firstPass"  
      />
      <mmt-text-input
        class="sign-up-text-field"
        :placeholder="$t('signUp.confirmPassword')"
        mmt-label="Password"
        rounded
        filled
        dense
        mmt-dense
        counter
        :type="showPass ? 'text' : 'password'"
        :rules="[rules.required, rules.minPassLen, rules.samePass]"
        v-model="secondPass" 
      />
    </v-form>
  </v-card-text>
  <v-card-actions class="sign-up-card-actions">
    <v-btn
      class="continue-button mmt-btn"
      rounded
      elevation="0"
      @click="signUp"
    >{{ $t('signUp.continue') }}</v-btn>
    <span>{{ $t('signUp.or') }}</span>
    <v-btn
      class="google-btn social-btn mmt-btn"
      rounded
      outlined
    >{{ $t('signUp.continueGoogle') }}<v-icon right>mdi-google</v-icon></v-btn>
    <v-btn
      class="facebook-btn social-btn mmt-btn"
      rounded
      outlined
    >{{ $t('signUp.continueFacebook') }}<v-icon right>mdi-facebook</v-icon></v-btn>
  </v-card-actions>
  <span>
    {{ $t('signUp.privacyPolicyPart1') }}
    <a>{{ $t('signUp.privacyPolicyPart2') }}</a>
    {{ $t('signUp.privacyPolicyPart3') }}
    <a>{{ $t('signUp.privacyPolicyPart4') }}</a>
  </span>
</v-card>