.theme--light.accommodation {
  min-width: 500px;
}

  .theme--light.accommodation:hover {
    cursor: pointer;
  }

  .theme--light.accommodation .carousel {
    width: 150px;
    height: 150px;
  }

  .theme--light.accommodation .details * {
    font-size: 12px;
    line-height: 16px;
  }

  .theme--light.accommodation .headline * {
    font-size: 15px;
    max-width: 230px;
    line-height: 18px;
  }

  .theme--light.accommodation .side {
    text-align: end;
  }

    .theme--light.accommodation .side a {
      text-decoration: none;
    }

.theme--light .active .accommodation {
  border: 1px solid var(--social-network-button-background-color);
  -webkit-box-shadow: 0px 0px 10px 0px var(--user-menu-disabled-color);
  -moz-box-shadow: 0px 0px 10px 0px var(--user-menu-disabled-color);
  box-shadow: 0px 0px 10px 0px var(--user-menu-disabled-color);
}
