.card-wrapper {
  width: 910px;
  /* height: 100px; */
  position: relative;
  flex-grow: 1;
}

.delete-btn {
  position: absolute;
  top: 1px;
  right: 5px;
  cursor: pointer;
}

.card {
  margin: 8px 40px 8px 20px;
  display: flex;
  justify-content: space-between;
}

.card .arrival,
.card .departure,
.card .return-to-home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .return-to-home .return-to-checkbox >>> .v-label {
  font-size: 12px;
}

.card .return-to-home .return-to-checkbox >>> .v-icon::before {
  font-size: 28px;
}

.card .return-to-home .return-to-checkbox {
  /* display: inline-block; */
  font-size: 12px;
}

.card .arrival .date {
  font-size: 12px;
  color: var(--mmt-color-gray);
}

.card .departure .city {
  text-transform: uppercase;
  color: var(--mmt-color-gray);
  font-size: 12px;
}

.card .return-to-home .trip-start .subtitle,
.card .arrival .city .subtitle {
  color: var(--mmt-color-gray);
  text-transform: uppercase;
}

.card .departure .datetime .subtitle {
  color: var(--mmt-color-gray);
}

.card .return-to-home .trip-start .content,
.card .departure .datetime .date .content,
.card .arrival .city .content {
  text-decoration: underline;
}

.card .departure .datetime .date {
  margin-right: 20px;
}

.card .departure .datetime {
  display: flex;
  justify-content: space-between;
}

.card .details {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  max-width: 200px;
}

.card .details .subtitle {
  color: var(--history-route-details-color);
}

.card img {
  width: 156px;
  height: 84px;
}

.card-button-wrapper {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.completed-btn {
  margin-left: 20px;
  text-transform: none;
  letter-spacing: normal;
  border-radius: 10px;
}

.completed-btn >>> .v-icon {
  font-size: 32px;
  color: white;
}

.completed-btn >>> .v-input--selection-controls {
  margin-top: 20px;
}

.completed-btn >>> .mdi-checkbox-blank-outline::before {
  content: "\F012E";
}

.completed-btn >>> .mdi-checkbox-marked::before {
  content: "\F012C";
}

.completed-btn .button-text {
  margin-left: 14px;
}

.path-info {
  position: relative;
}

.path-info .vertical-line {
  width: 0;
  height: 36px;
  border: 1px solid #6C6C6C;
  margin-left: 17px;
}

.path-info .transport-icon {
  color: var(--history-route-transport-icon-color);
  font-size: 28px;
  margin-left: 4px;
  margin-top: 6px;
}

.rotate-180 {
  transform: rotateZ(180deg);
}

.path-info .text-content {
  margin-left: 6px;
  color: #0F0E0E;
  margin-bottom: 3px;
}

.path-info .pencil {
  color: var(--history-route-pencil-icon-color);
  top: 65px;
  left: 145px;
  position: absolute;
  cursor: pointer;
}
