<div>
  <div class="card-button-wrapper">
    <v-card class="card-wrapper" color="primary lighten-7" tile flat>
      <v-btn icon class="delete-btn" @click="deleteWaypoint">
        <v-icon>mdi-delete</v-icon>
      </v-btn>
      <div class="card">
        <div class="return-to-home" v-if="firstCard">
          <div class="trip-start">
            <span class="subtitle">
              {{$t('tripHistory.startTripFrom')}}
            </span>
            <br />
            <span class="content">
              {{waypoint.city}}
            </span>
          </div>
        </div>
        <div class="arrival" v-else>
          <div class="date">{{$t('tripHistory.arrivalDate')}} {{waypoint.arrivalDate | date('d MMM y, HH:mm')}}</div>
          <div class="city">
            <span class="subtitle">
              {{$t('tripHistory.goingTo')}}
            </span>
            <br />
            <span class="content">
              {{waypoint.city}}
            </span>
          </div>
        </div>
        <div class="departure" v-if="!lastCard">
          <div class="city">
            {{$t('tripHistory.departurefromCity')}}
          </div>
          <div class="datetime">
            <div class="date">
              <span class="subtitle">
                {{$t('tripHistory.date')}}
              </span>
              <br />
              <span class="content">
                {{waypoint.departureDate | date('d MMM y')}}
              </span>
            </div>
            <div class="time">
              <span class="subtitle">
                {{$t('tripHistory.time')}}
              </span>
              <br />
              <span class="content">
                {{waypoint.departureDate | date('HH:mm')}}
              </span>
            </div>
          </div>
        </div>
        <div v-else>
        </div>
        <div class="details">
          <v-checkbox hide-details readonly color="secondary" :input-value="waypoint.isDetails"
            @click.self="updateDetailsState" />
          <div class="content">
            <span class="subtitle">
              {{$t('tripHistory.details')}}:
            </span>
            <br />
            <template v-if="!firstCard">
              {{waypoint.details}}
            </template>
          </div>
        </div>
        <img :src="waypoint.imageUrl">
      </div>
    </v-card>
    <v-btn class="completed-btn white--text" color="success" tile depressed height="59" width="166"
      @click="updateCompletedState">
      <v-checkbox color="white" readonly v-model="waypoint.isCompleted" />
      <span class="button-text">
        {{$t('tripHistory.isCompleted')}}
      </span>
    </v-btn>
  </div>
  <div class="path-info" v-if="!lastCard">
    <div class="vertical-line"></div>
    <v-icon class="transport-icon" :class="{'rotate-180': waypoint.transport === 0}">{{iconMap[waypoint.transport]}}
    </v-icon>
    <div class="text-content">
      {{waypoint.pathLength}} {{$t('tripHistory.km')}} |
      <template v-if="waypoint.pathTime.hours">{{waypoint.pathTime.hours}} {{$t('tripHistory.hoursShort')}} </template>
      <template v-if="waypoint.pathTime.minutes || !waypoint.pathTime.hours">{{waypoint.pathTime.minutes}}
        {{$t('tripHistory.minutesShort')}}</template>
    </div>
    <div class="vertical-line"></div>
    <router-link :to="{name:'MyHistoryEditRoute', params: {waypointId: waypoint.id}}">
      <v-icon class="pencil">mdi-pencil</v-icon>
    </router-link>
  </div>
</div>