<div>
  <div class="d-flex flex-wrap align-stretch justify-space-between mb-10">
    <div>
      <h4 class="accent--text text--lighten-2 header">{{ $t('tripHistory.planNewTrip') }}</h4>
    </div>
    <v-btn class="mmt-btn mmt-continue-button" height="39" rounded depressed large :to="{name: 'MyHistoryAdd'}">{{ $t('tripHistory.createNewTrip') }}</v-btn>
  </div>
  <div class="d-flex flex-wrap"
       v-if="upcomingTrips.length">
    <template v-for="(trip,n) in upcomingTrips">
      <mmt-trip-card :key="`trip-${n}`"
                     :trip="trip"
                     class="mb-5 mr-5" />
    </template>
  </div>
  <p v-else>
    {{ $t('tripHistory.tripsNotFound') }}
  </p>
</div>
