.mmt-continue-button.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
  background-color: var(--continue-button-background-color);
}

.mmt-continue-button.v-btn:not(.v-btn--disabled):not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) >>> .v-btn__content {
  color: var(--continue-button-active-color);
}

.mmt-continue-button.v-btn {
  height: var(--mmt-continue-button-height);
}

