* {
  font-weight: 600;
  font-size: 14px;
  font-family: Open Sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 54px;
}

h2 {
  font-size: 38px;
}

h3 {
  font-size: 33px;
}

h4 {
  font-size: 23px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 15px;
}
