@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

* {
  font-weight: 600;
  font-size: 14px;
  font-family: Open Sans;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 54px;
  line-height: 170%;
}

h2 {
  font-size: 38px;
  line-height: 165%;
}

h3 {
  font-size: 33px;
  line-height: 160%;
}

h4 {
  font-size: 23px;
  line-height: 150%;
}

h5 {
  font-size: 18px;
  line-height: 150%;
}

h6 {
  font-size: 15px;
  line-height: 150%;
}

.text-small{
 font-size: 12px;
 line-height: 125%;
}

body{
  font-size: 14px;
  line-height: 140%;
}

.text-xsmall{
  font-size: 9px;
  line-height: 125%;
}

.mmt-btn{
  text-transform: none;
  letter-spacing: 0;
}
