:root {
  --filled-input-fill-color: #fff;
  --filled-select-fill-color: #fff;
  --mmt-dense-input-min-height: 35px;
  --mmt-dense-input-font-size: 12px;
  --mmt-dense-input-label-font-size: 12px;
  --mmt-dense-input-hint-font-size: 12px;
  --forget-password-text-color: #273b7a;
  --continue-button-background-color: #03a9f4;
  --continue-button-active-color: #fff;
  --social-network-button-background-color: #2962ff;
  --mmt-label-color: #000;
  --leisure-containers-bgc: #fff;
  --leisure-leisure-type-label-color: #000;
  --leisure-price-state-color: #00c853;
  --leisure-place-star-color: #4dd0e1;
  --leisure-place-price-color: #6c6c6c;
  --leisure-place-price-bgc: #b6b6b6;
  --mmt-color-gray: #b6b6b6;
  --mmt-color-light-gray: #dddddd;
  --login-and-recovery-password-background-color: #f6f8fb;
  --user-menu-active-color: #195292;
  --user-menu-disabled-color: #b6b6b6;
  --mmt-avatar-color: #195292;
  --history-route-pencil-icon-color: #ffbb0c;
  --files-image-container-background-color: #e0e0e0;
  --waypoint-transpost-vertical-line-color: #6c6c6c;
}
