:root {
  --filled-input-fill-color: #fff;
  --dense-input-min-height: 35px;
  --forget-password-text-color: #273B7A;
  --continue-button-background-color: #03A9F4;
  --continue-button-active-color: #fff;
  --social-network-button-background-color:#2962FF;
  --mmt-label-color: #000;
  --leisure-containers-bgc: #FFF;
  --leisure-leisure-type-label-color: #000;
  --leisure-price-state-color: #00C853;
  --leisure-place-star-color: #4DD0E1;
  --leisure-place-price-color: #6C6C6C;
  --leisure-place-price-bgc: #B6B6B6;
}