.stepper {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  position: relative;
}

  .stepper .step {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 200px;
    padding: 24px;
  }

    .stepper .step .title {
      font-size: 18px;
    }

    .stepper .step .sub-title {
      font-size: 14px;
    }

    .stepper .step .icon {
      text-decoration: none;
      margin: 30px 0 15px;
      border-radius: 50%;
      height: 45px;
      width: 45px;
      line-height: 45px;
      text-align: center;
      z-index: 999;
    }

  .stepper::after {
    position: absolute;
    top: 50%;
    left: 10%;
    height: 3px;
    width: 80%;
    background-color: #DDDDDD;
    content: "";
  }

  .stepper::before {
    position: absolute;
    top: 50%;
    left: 10%;
    background-color: #03A9F4;
    content: "";
    height: 3px;
    z-index: 999;
  }

  .stepper.progress-2::before {
    width: 20%;
  }

  .stepper.progress-3::before {
    width: 40%;
  }

  .stepper.progress-4::before {
    width: 60%;
  }

  .stepper.progress-5::before {
    width: 80%;
  }
