.v-form {
  width: 248px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mmt-select,
.input-field,
.date-input {
  width: 100%;
}

.input-field {
  margin-bottom: 6px;
}

.date-input {
  margin-bottom: 20px;
}

.mmt-select >>> .v-select__selection {
  font-size: 12px;
}

.input-field >>> label {
  margin: 0;
}

.input-field >>> * {
  font-size: 12px;
}

.input-field >>> .v-messages__message {
  font-size: 9px;
}

.date-pseudo-input {
  background-color: var(--filled-input-fill-color);
  height: 39px;
  border-radius: 20px;
  display: flex;
  padding: 0 18px;
  cursor: pointer;
  align-items: center;
}

.date-pseudo-input .date,
.date-pseudo-input .date-title {
  font-size: 12px;
  font-weight: normal;
}

.date-pseudo-input .date-title {
  color: var(--mmt-color-gray);
}

.date-pseudo-input .v-icon {
  margin-right: 8px;
}

.date-pseudo-input .date {
  color: var(--history-date-input-date-color);
}

.files-card.v-card.v-sheet {
  border-radius: 20px;
}