<div>
  <mmt-stepper></mmt-stepper>
  <div class="d-flex flex-wrap align-stretch justify-space-between mb-5 mt-10">
    <div>
      <h6 class="accent--text text--lighten-2 text-uppercase">
        {{ $t('accommodations.results') }} ({{ accommodations.length }})
      </h6>
    </div>
    <div class="d-flex">
      <v-btn rounded class="details accent lighten-1 mr-5" to="/my/accommodation/new">
        <span class="text-capitalize">
          {{ $t('accommodations.addAccommodation') }}
        </span>
      </v-btn>
      <v-select :items="accommodationSorting" v-model="sortInfo.sortBy" class="mr-5 accommodation-sorting-select"
        background-color="accent lighten-1" rounded filled dense dark hide-details solo append-icon="mdi-sort"
        @change="onQueryCange" />
      <v-btn-toggle v-model="sortInfo.sortDirection" mandatory rounded height="40" class="mr-5" dark
        background-color="accent lighten-1" @change="onQueryCange">
        <v-btn height="40" color="accent lighten-1">
          <v-icon>mdi-arrow-down</v-icon>
        </v-btn>
        <v-btn height="40" color="accent lighten-1">
          <v-icon>mdi-arrow-up</v-icon>
        </v-btn>
      </v-btn-toggle>
      <v-btn v-if="accommodations.length" rounded class="details accent lighten-1">
        <span class="text-capitalize">
          {{ $t('accommodations.filter') }}
          <v-icon right class="white--text">mdi-filter-variant</v-icon>
        </span>
      </v-btn>
    </div>
  </div>
  <div class="d-flex flex-row align-stretch justify-space-between py-5">
    <div class="align-self-stretch">
      <div class="d-flex flex-wrap justify-space-between" v-if="accommodations.length">
        <template v-for="(accommodation,n) in accommodations">
          <mmt-accommodation-card :key="`accommodation-${n}`" :accommodation="accommodation"
            :class="`${ selectedAccommodation && accommodation.id === selectedAccommodation.id ? 'active' : ''} mb-5`"
            v-on:click.native="viewAccommodation(accommodation, $event)" />
        </template>
      </div>
      <p v-else>
        {{ $t('accommodations.notFound') }}
      </p>
    </div>
    <div class="align-self-top pl-5">
      <div class="map" ref="map-holder"></div>
    </div>
  </div>
  <v-pagination :length="paginationInfo.totalCount" v-model="changedPage" color="accent lighten-1"
    @input="onQueryCange" />
</div>